.nav-pills {
    padding: 0;
}

.nav-link:hover {
    background-color: #ddd;
    color: #000 !important;
}

.myForm {
    width: 50%;
    position: absolute;
    top: 85px;
    right: 34%;
}

#editor {
    position: relative;
    height: 143px;
    overflow-y: scroll;
}