header{
    height: 200px;
    background-color: #306BC6;
    margin-bottom: 50px;
}
header .p-img{
    text-align: left;
}
header .p-img img{
    height: 150px;
    margin-top: 95px;
}
header h1{
    position: relative;
    top: -170px;
    right: 39%;
    width: 224px;
    color: #fff;
}
@media (max-width: 720px){
    header h1{
        right: 0;
    }
}