header {
    height: 500px;
    background-image: url('/img/header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 150px;
    text-align: left;
}

header .links {
    width: 50%;
    margin-right: 55%;
    margin-top: -17px;
}

header .links .btn-primary {
    background-color: #60DA5B !important;
    border: none;
    display: block;
    margin-bottom: 10px;
}

.about,
.brief,
.contact {
    text-align: center;
}

.contact .form,
.contact .info {
    text-align: right;
}

.contact .info ul {
    margin-top: 20%;
}

i {
    color: #ECECEC;
}

.contact i {
    color: #125C13;
}

@media (max-width: 720px) {
    header {
        padding-top: 0;
    }

    header .links {
        margin-top: 30px;
        margin-right: auto;
    }
}