html,
body,
.main {
    height: 100%;
}

.main {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 20%;
    background-image: url('/img/timer.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#sec,
#pragBtn {
    display: inline;
}

#sec {
    width: auto;
}

.test {
    border: 3px solid #245C13;
    height: 200px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 130px;
    color: #000;
    background-color: rgba(96, 218, 91, 0.7);
}

.words {
    margin-top: 65px;
    font-size: 2rem;
}

.ql-toolbar {
    background-color: #60da5b;
}