*{
    font-family: 'Lateef', cursive;
    font-size: 1.2rem;
}
.break {
    height: 50px;
    border-bottom: solid #60DA5B;
    margin: auto;
    margin-bottom: 50px;
    width: 90%;
    opacity: 0.7;
}

.bg-dark,
.bg-light {
    background: rgb(26, 181, 208);
    background: linear-gradient(90deg, rgba(26, 181, 208, 1) 37%, rgba(255, 255, 255, 1) 82%);
}

.navbar-dark .navbar-nav .nav-link {
    color: #1B262C;
}

footer {
    text-align: center;
    color: #1B262C;
}

footer a {
    text-decoration: none;
    color: #1B262C;
}

footer a:hover {
    color: #E6AF2E;
}