header {
    height: 200px;
    background-color: #306BC6;
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
}

header h1 {
    position: relative;
    top: 95px;
}

.str {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.str .tex {
    width: 100%;
    color: #fff;
    padding-right: 25px;
    background-color: #E48823;
    height: 35px;
    line-height: 2;
}

.list-group-numbered {
    border: none;
}

.list-group-item {
    border: none;
}
.menu{
    padding: 55px;
}
.menu h1,
.menu .dropdown{
    display: inline;
}
.menu .dropdown-toggle{
    margin-top: -10px;
}
.read-img{
    padding-left: 65px;
}
@media (max-width: 991px){
    .menu .dropdown-toggle{
        margin-left: -15%;
        margin-top: -5px;
    }
    .read-img{
        display: none;
    }
}