<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<link rel="stylesheet" href="/css/main/about.css">
<header>
    <div class="container">
        <h1>عن بيئة التعلم</h1>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-12"><%- b%></div>
    </div>
</div>
<%- include('../lay-outs/footer') %>