<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<link rel="stylesheet" href="/css/brief.css">
<header>
    <div class="container">
        <div class="p-img"><img src="/img/person.jpg" alt=""></div>
        <h1>السيرة الذاتية</h1>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste distinctio fugiat error expedita hic, voluptatibus quam labore laudantium cumque optio repellat omnis vitae dicta, sed dolores deserunt totam ea quo.</div>
    </div>
</div>
<%- include('../lay-outs/footer') %>