<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<link rel="stylesheet" href="/css/main/brief.css">
<header>
    <div class="container">
        <div class="p-img"><img src="/img/person.jpg" alt=""></div>
        <h1>السيرة الذاتية</h1>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-12"><%- b %><div>
            </div>
        </div>
        <%- include('../lay-outs/footer') %>