<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<link rel="stylesheet" href="/css/read-app-test.css">
<header>
    <div class="container">
        <h1>ختبار سرعة القراءة</h1>
    </div>
</header>
<div class="ciontainer">
    <div class="row">
        <div class="prag col-lg-8">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum minus modi magni pariatur ullam alias
            nesciunt, earum voluptates nemo nisi incidunt possimus repellendus laudantium fugit maxime excepturi. Animi,
            suscipit ab!
        </div>
        <div class="col-lg-4">
            <ul class="list-group">
                <li class="list-group-item" id="name">سم الطالب:</li>
                <li class="list-group-item" id="timer">عداد الزمن:</li>
                <li class="list-group-item" id="stop-reading">توقف عن القراءة</li>
                <li class="list-group-item" id="end-reading">انهاء القراءة</li>
                <li class="list-group-item" id="save-speed">حفظ سرعتي</li>
                <li class="list-group-item" id="img"><img src="/img/pic4.png" alt=""></li>
              </ul>
        </div>
    </div>
</div>
<%- include('../lay-outs/footer') %>