<%- include('../lay-outs/head') %>
<%- include('../lay-outs/nav') %>
<link rel="stylesheet" href="/css/read-app.css">
<header>
    <div class="container">
        <h1>تطبيق القراءة السريعة</h1>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="str col-12">
            <div class="tex">لحساب سرعة القراءة الخاصة بك عليك اتباع التعليمات التالية:</div>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Cras justo odio</li>
              </ol>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="choose col-lg-6">
            <div class="menu">
                <h1>اختيار القطعة:</h1>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      القطعة
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#"></a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
        </div>
        <img class="col-6 read-img" src="/img/header.png" alt="">
    </div>
</div>
<%- include('../lay-outs/icon-bar') %>
<%- include('../lay-outs/footer') %>