.main{
    height: 83vh;
}
.myForm {
    position: absolute;
    top: 85px;
    height: 570px;
    overflow: scroll;
}

#editor {
    position: relative;
    height: 143px;
    overflow-y: scroll;
}

#addQuiz {
    width: 140px;
    position: relative;
    right: 50%;
}

.quiz {
    border-bottom: 2px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}