<link rel="stylesheet" href="/css/icon-bar.css">
<div class="container icon-bar">
    <div class="row">
        <div class="item col-lg-3">
            <img src="/img/icon1.png" alt="ico">
            <div class="caption">
                <h3>مضاعفة السرعة</h3>
                <p class="lead">يعمل التطبيق وفق خطة منهجية وعلمية لزيادة سرعة القراءة و الاستيعاب لدى القرائ</p>
            </div>
        </div>
        <div class="item col-lg-3">
            <img src="/img/icon2.png" alt="ico">
            <div class="caption">
                <h3>تعزيز المهارات</h3>
                <p class="lead">تفتح القراءة السريعة للقارئ أبوابا واسعة من المعرفة و التحصيل و تعزيز المهارات</p>
            </div>
        </div>
        <div class="item col-lg-3">
            <img src="/img/icon3.png" alt="ico">
            <div class="caption">
                <h3>توفير الوقت</h3>
                <p class="lead">ترفع القراءة السريعة من استثمارك لوقتك من خلال رفع كفاءة التلقي خلال الوقت نفسه</p>
            </div>
        </div>
        <div class="item col-lg-3">
            <img src="/img/icon4.png" alt="ico">
            <div class="caption">
                <h3>تحصيل اوسع</h3>
                <p class="lead">تضمن القراءة السريعة تحصيل اكبر قدر من المعرفة و الاطلاع مما يرفع من معرفتك</p>
            </div>
        </div>
    </div>
</div>