<link rel="stylesheet" href="/css/nav.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/img/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">الرئيسية</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link b-left" href="/brief">السيرة الذاتية</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link b-left" href="/about">عن بيئة التعلم</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link b-left" href="/read-app">تطبيق القراءة السريعة والفهم القرائي</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link b-left" href="/light-speed">تطبيق الومضة السريعة</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link b-left" href="/mix">منوعات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link b-left" href="/contact">اتصل بنا</a>
                </li>
                <% if(user){ %>
                <li class="nav-item auth-item">
                    <a class="nav-link " href="/user/<%= user._id%>">مرحبا <%= user.name%></a>
                    <a class="nav-link b-left" href="/logout">تسجيل الخروج</a>
                </li>
                <%}else{%>
                <li class="nav-item auth-item">
                    <a class="nav-link " href="/auth">تسجيل الدخول</a>
                    <a class="nav-link b-left" href="/signup">تسجيل حساب جديد</a>
                </li>
                <%}%>
          </ul>
      </div>
  </div>
</nav>