header {
    height: 200px;
    background-color: #306BC6;
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
}

header h1 {
    position: relative;
    top: 55px;
}

header h4 {
    position: relative;
    top: 60px;
}

.str .list-group-numbered {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.str .tex {
    background-color: #E48823;
    line-height: 2;
    color: #fff;
    width: 96.8%;
    margin-right: 3.2%;
}

.dropdown {
    top: -50px;
    right: 235px;
    width: 10px;
}

.dropdown-toggle {
    text-align: end;
    background: none;
    color: #000;
    font-size: 1.2rem;
    margin-right: 15px;
}

.menu {
    margin-top: 20%;
}

#wNum {
    width: 150px;
    margin: auto;
    top: -89px;
    right: 105px;
}

#start {
    position: relative;
    right: 65%;
    top: -36px;
}

/*****************/
.test {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 160px;
}

.word {
    background-color: #ddd;
    font-size: 2.5rem;
    padding: 55px;
    border-radius: 30px;
    height: 150px;
}

.wordNum {
    margin-top: -3px;
    margin-right: 30px;
    margin-bottom: -13px;
}

@media (max-width: 720px) {
    .read-img {
        display: none;
    }

    .dropdown-toggle {
        margin-right: -75px;
        margin-top: 7px;
    }

    .str .tex {
        width: 86.8%;
        margin-right: 13.2%;
    }

    .wordNum {
        position: relative;
        top: 50px;
    }

    #start {
        position: relative;
        right: 45%;
        top: 10px;
    }
}

@media (min-width: 720px) and (max-width: 980px) {
    .str .tex {
        width: 86.8%;
        margin-right: 6.2%;
    }

    .read-img {
        display: none;
    }
}