header {
    height: 200px;
    background-color: #306BC6;
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
}

header h1 {
    position: relative;
    top: 95px;
}

.box {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #DBA53B;
    border-radius: 20px;
    margin-bottom: 35px;
}
.box h3 {
    text-align: center;
    margin-bottom: 50px
}

.grades p {
    width: 50%;
    display: inline;
    position: relative;
    right: 8%;
}

.s-speed,
.s-un {
    position: relative;
    top: -35px;
    right: 24.5%;
    font-size: 1.3rem;
}
.myText{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}